<!--Inicio Header-->
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <img src="../../assets/imagenes/icono.png" alt="icono" >
        </a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="dashboardAdmin" class="nav-link px-2 link-secondary">Dashboard</a></li>
        <li><a routerLink="aeropuertosListadoAdmin" class="nav-link px-2">Aeropuerto</a></li>
        <li><a routerLink="avionesListadoAdmin" class="nav-link px-2">Avion</a></li>
        <li><a routerLink="vuelosListadoAdmin" class="nav-link px-2">Vuelo</a></li>
      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-primary me-2" (click)="cerrarSesion()">Log Out</button>
      </div>
    </header>
</div><!--Fin Header-->

