<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container register">
    <div class="row">
        <div class="col-md-3 register-left">
            <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            <h3>Bienvenido</h3>
            <p>Ingresa los datos necesarios para actualizar un Aeropuerto!</p>
        </div>
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" role="tab" aria-controls="home"
                        aria-selected="true">Aeropuerto</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Crear Aeropuerto</h3>
                    <form (submit)="actualizarAeropuerto()" [formGroup]="aeropuertoformulario">
                        <div class="row register-form">
                            <div class="col-md-6">
                                <!--
                            <div class="form-group">
                                <label class="input-group-text">Id Aeropuerto</label>
                                <input type="number" class="form-control" placeholder="Id Aeropuerto *" formControlName="" />
                            </div>
                            -->
                                <div class="form-group">
                                    <label class="input-group-text">Nombre</label>
                                    <input type="text" class="form-control" placeholder="Nombre *"
                                        formControlName="nombre" required />
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('nombre')?.hasError('required') && aeropuertoformulario.get('nombre')?.touched">
                                        Nombre del aeropuerto requerido <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('nombre')?.hasError('maxlength')">
                                        El Nombre del aeropuerto permite una longitud máxima de 30 caracteres <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('nombre')?.hasError('minlength')">
                                        El Nombre del aeropuerto permite una longitud mínima de 5 caracteres <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('nombre')?.hasError('pattern')">
                                        El Nombre del aeropuerto solo permite letras y guiones (-) <br>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="input-group-text">IATA</label>
                                    <input type="text" class="form-control" placeholder="IATA *" formControlName="iata"
                                        required />
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('iata')?.hasError('required') && aeropuertoformulario.get('iata')?.touched">
                                        Iata del aeropuerto es requerido <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('iata')?.hasError('minlength')">
                                        Iata del aeropuerto debe tener mínimo 3 letras <br>
                                    </span> 
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('iata')?.hasError('maxlength')">
                                        Iata del aeropuerto debe tener máximo 3 letras <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('iata')?.hasError('pattern')">
                                        El Iata del aeropuerto solo permite letras <br>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label class="input-group-text">País</label>
                                    <select class="form-control" placeholder="Seleccione un país *"
                                        formControlName="pais" (change)="encontrarCiudades()" required>
                                        <option value="" class="text-primary" disabled selected>Seleccione un país</option>
                                        <option *ngFor="let pais of paises" [value]="pais.country">{{ pais.country }}
                                        </option>
                                        <span class="text-danger"
                                            *ngIf="aeropuertoformulario.get('pais')?.hasError('required') && aeropuertoformulario.get('pais')?.touched">
                                            Seleccione un pais para el aeropuerto <br>
                                        </span>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="input-group-text">Ciudad</label>
                                    <select type="text" class="form-control" placeholder="Seleccione una ciudad *"
                                        formControlName="ciudad" required>
                                        <option value="" class="text-primary" disabled selected>Seleccione una ciudad</option>
                                        <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
                                        <span class="text-danger"
                                            *ngIf="aeropuertoformulario.get('ciudad')?.hasError('required') && aeropuertoformulario.get('ciudad')?.touched">
                                            Selecciona la ciudad del pais para el aeropuerto <br>
                                        </span>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="input-group-text">Estado</label>
                                    <input type="text" class="form-control" placeholder="Estado *" formControlName="estado"
                                        required />
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('estado')?.hasError('required') && aeropuertoformulario.get('estado')?.touched">
                                        El estado del aeropuerto es requerido <br>
                                    </span>
                                    <span class="text-danger"
                                        *ngIf="aeropuertoformulario.get('estado')?.hasError('pattern')">
                                        El estado del aeropuerto solo permite letras <br>
                                    </span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <button class="btnRegister" type="submit" [disabled]="aeropuertoformulario.invalid">
                                    Actualizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>