<!DOCTYPE html>
<html>
<head>
  <title>Factura</title>
  <!-- Agrega los estilos de Bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <br>
        <br>
        <body>
            <h1 class="text-center" style="color: #0396a6;">Factura del vuelo</h1>
            <h3 class="text-center">Skylance</h3>
            <p class="text-center">direccion del vuelo: Calle Aeropuerto 1234</p>
            <p class="text-center">telefono: 6543212 </p>
            <p class="text-center">Cali, Colombia</p>


        </body>
        
       
        <hr>
        <div class="row">
          <div class="col-md-6">
            <h5>Información del cliente:</h5>
            <p>Nombre completo: Vivian Echeverri </p>
            <p>Dirección: </p>
            <p>Número de teléfono: </p>
          </div>
          <div class="col-md-6">
            <h5>Detalles de la factura:</h5>
            <p>Número de factura: </p>
            <p>Fecha de emisión: </p>
          </div>
        </div>
        <hr>
        <table class="table custom-table">
          <thead>
            <tr>
              <th>Cantidad</th>
              <th>Descripción</th>
              <th>Precio unitario</th>
              <th>IVA</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
          
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
          
          </tbody>
        </table>

        <div class="row">
          <div class="col-md-6 offset-md-6">
            <table class="table">
              <tbody>
                <tr>
                    <th class="text-right">Nro de ítems:</th>
                    <td></td>
                  </tr>
                <tr>
                  <th class="text-right">Subtotal:</th>
                  <td></td>
                </tr>
                <tr>
                  <th class="text-right">Total IVA:</th>
                  <td></td>
                </tr>
                <tr>
              <th  class="text-right">Total a pagar:</th>
              <td></td>
              </tr>
            
          </tbody>
        </table>
      </div>
    </div>
      </div>
    </div>
  </div>

 
</body>
</html>

