<section class="pb-4">
  <div class="table-resonsive bg-white border rounded-5">
    <section class="w-100 p-4">
      <nav class="navbar bg-body-tertiary">
        <div class="container-fluid">
          <a class="navbar-brand">Listado Aviones</a>
          <button class="d-flex btn btn-outline-primary" routerLink="/administrador/avionCrearAdmin">Crear</button>
        </div>
      </nav>
      <table class="table caption-top align-middle">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Modelo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let avion of aviones">
            <th scope="row">{{avion.avioID}}</th>
            <td>{{avion.modelo}}</td>
            <td>{{avion.estado}}</td>
            <td>
              <div class="d-grid gap-3 d-sm-flex justify-content">
                <i class="fa fa-pen-to-square bigicon" (click)="avion.avioID !== undefined && actualizarAvion(avion)"></i>
                <i class="fa fa-trash bigicon" (click)="avion.avioID !== undefined && eliminarAvion(avion)"></i>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>
</section>