<div *ngFor="let reserva of reservas">
  <div class="reserva-info">
    <h1>Reserva de: {{usuario.nombre}}</h1>
    <h1>ID de reserva: {{ reserva.reseId }}</h1>
    <p>ID de vuelo: {{ vuelo.vueloId }}</p>
    <p>Aeropuerto Origen : {{ vuelo.nombreAeroOrigen}}</p>
    <p>Aeropuerto Destino Ubicación: {{ vuelo.nombreAeroDestino}}</p>
    <p>Fecha Hora Salida Vuelo: {{vuelo.hora_salida }}</p>
    <p>Fecha Hora Llegada Vuelo: {{vuelo.hora_llegada }}</p>
    <p>Fecha Reserva: {{ reserva.fecha }}</p>
    <p>Estado de pago: {{ reserva.estadoPago }}</p>
    <p>Precio total: {{ reserva.precioTotal }}</p>
  </div>
  <button class="btn btn-primary" (click)="generarFactura(reserva)">Pagar</button>
  <button class="btn btn-primary" (click)="cancelarReserva(reserva)">Cancelar</button>
</div>